<div class="fixed w-full top-0 left-0 z-10 "> 
    <nav class="flex h-16 md:h-20 items-center bg-okaloa-green-light dark:bg-gray-900 z-20 fixed top-0 left-0 right-0 border-b border-gray-100 px-0 py-2 dark:bg-dark dark:border-gray-800 transition-colors duration-200">
      <div class="hidden md:block space-y-4 w-full p-4">
        <a class="no-underline text-gray-800 hover:text-white font-bold dark:text-gray-500 items-center" href="/">
          <span class="text-xl">{{ site.name }}</span>
          {% if site.subtitle %}
          <span class="block mt-1 text-sm text-gray-600 hover:text-white dark:text-gray-600 font-normal text-xs sm:text-xs md:text-sm lg:text-sm w-full"> {{ site.subtitle }}</span>
          {% endif %}
         </a>
      </div>
      <div class="mr-2 relative w-full md:w-64">
       {% if site.enableSearch == 1 %}
        <input  aria-label="Search" x-data="{ isOpen: true }" x-bind:class="{ 'hidden': !isOpen }" type="search" placeholder="Search..." class="ml-2 w-60 bg-gray-50 dark:bg-gray-800 appearance-none border dark:border-gray-700 rounded py-2 px-2 placeholder-gray-300 leading-tight focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-700 ring-opacity-50 border-gray-200" id="searchField">
        <ul tabindex="0" class="bg-white dark:bg-gray-200 z-50 shadow-md p-0 w-full list-none m-0 absolute left-0 md:right-0 bg-white rounded mt-1 top-100 z-50" id="searchResults"></ul>
        <div class="hidden shadow-md list-none p-4 m-0 absolute left-0 md:right-0 bg-white rounded mt-1 border top-100 divide-y divide-gray-300 z-2" id="noResultsFound">
          <p>No results found.</p>
        </div>
        {% endif %}
      </div>

      <button  aria-label="Show navigation" onclick="showNavigation()" class="block md:hidden mr-3"><svg fill="none" width="24" height="24" viewBox="0 0 24 24" class="text-gray-400 hover:text-gray-600" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg></button>

    </nav>  
    {% if site.navigationStyle == 'horizontal' %}
      <div class="mt-20">
      {% include "components/nav.njk" %}
      </div>
    {% endif %}
 </div>


